DB_URL=postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
API_KEY=your_api_key
CLIENT_ID=your_client_id
MPIN=your_mpin
TOTP_SECRET=your_totp_secret

ENABLE_WEBSOCKET=true
ENABLE_POLLER=true

WEBSOCKET_MODE=2
WEBSOCKET_PING_PERIOD=30s
WEBSOCKET_TOKENS=[{"exchange_type":1,"tokens":["99926000","2885"]},{"exchange_type":3,"tokens":["99919000","99919001"]}]

POLLER_MODE=LTP
POLL_INTERVAL=1s
POLLER_INSTRUMENTS=[{"exchange":"NSE","symbol_token":"99926000"},{"exchange":"NSE","symbol_token":"2885"}]

BATCH_SIZE=500
FLUSH_INTERVAL=5s
QUEUE_SIZE=2048
